# ==========================
# NODE MODULES
# ==========================

front-end/node_modules/
back-end/node_modules/

# ==========================
# ENV FILES
# ==========================

front-end/.env
back-end/.env

# ==========================
# DATABASES
# ==========================

back-end/database.db
*.db

# ==========================
# BUILDS
# ==========================

front-end/dist/
back-end/dist/

# ==========================
# LOGS
# ==========================

back-end/logs/
*.log

# ==========================
# VSCODE
# ==========================

.vscode/

# ==========================
# OS FILES
# ==========================

.DS_Store
Thumbs.db