@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.data{
    max-width: 183px;
    width: 100%;
    height: 26px;

    border: 1px solid oklch(0.92 0.012 255);
    border-radius: 17px;

    font-size: 12px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    font-weight: 600;

    color: #838d9d;

    cursor: default;
}

.calendario{
    background-color: #f4f8fc;
    color: #2563EB;

    font-size: 14px;
}